PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "__EFMigrationsLock" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK___EFMigrationsLock" PRIMARY KEY,

    "Timestamp" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (

    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" TEXT NOT NULL

);
INSERT INTO __EFMigrationsHistory VALUES('20250614175749_Init','9.0.5');
INSERT INTO __EFMigrationsHistory VALUES('20250614182158_InitTenantScope','9.0.5');
INSERT INTO __EFMigrationsHistory VALUES('20250614212554_CompanyIsVerified','9.0.5');
CREATE TABLE IF NOT EXISTS "AspNetRoles" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_AspNetRoles" PRIMARY KEY,

    "Name" TEXT NULL,

    "NormalizedName" TEXT NULL,

    "ConcurrencyStamp" TEXT NULL

);
INSERT INTO AspNetRoles VALUES('b6b82f49-27b2-4478-bfec-4a020f0af6cd','Clerk','CLERK',NULL);
INSERT INTO AspNetRoles VALUES('e9ab1dc9-b4fd-4839-8888-898e55f23e4a','Manager','MANAGER',NULL);
INSERT INTO AspNetRoles VALUES('1d549980-3c5f-420a-aaa9-94b55d81f0a9','Admin','ADMIN',NULL);
CREATE TABLE IF NOT EXISTS "Companies" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_Companies" PRIMARY KEY,

    "Name" TEXT NOT NULL,

    "TaxId" TEXT NOT NULL,

    "Address" TEXT NULL,

    "IsActive" INTEGER NOT NULL,

    "CreatedAt" TEXT NOT NULL,

    "UpdatedAt" TEXT NOT NULL

, "IsVerified" INTEGER NOT NULL DEFAULT 0, "VerifiedAt" TEXT NULL);
INSERT INTO Companies VALUES('22B0CC81-D1A7-460F-A02D-549191DD2A61','fff','123456789012345','',1,'2025-06-14 20:43:02.5852706','2025-06-14 20:43:02.5852706',0,NULL);
INSERT INTO Companies VALUES('463A0D06-770A-440A-9655-F87DA2C06593','hh','123456789012346','',1,'2025-06-14 20:49:07.6316242','2025-06-14 20:49:07.6316243',0,NULL);
CREATE TABLE IF NOT EXISTS "AspNetRoleClaims" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY AUTOINCREMENT,

    "RoleId" TEXT NOT NULL,

    "ClaimType" TEXT NULL,

    "ClaimValue" TEXT NULL,

    CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AspNetUsers" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_AspNetUsers" PRIMARY KEY,

    "CompanyId" TEXT NOT NULL,

    "UserName" TEXT NULL,

    "NormalizedUserName" TEXT NULL,

    "Email" TEXT NULL,

    "NormalizedEmail" TEXT NULL,

    "EmailConfirmed" INTEGER NOT NULL,

    "PasswordHash" TEXT NULL,

    "SecurityStamp" TEXT NULL,

    "ConcurrencyStamp" TEXT NULL,

    "PhoneNumber" TEXT NULL,

    "PhoneNumberConfirmed" INTEGER NOT NULL,

    "TwoFactorEnabled" INTEGER NOT NULL,

    "LockoutEnd" TEXT NULL,

    "LockoutEnabled" INTEGER NOT NULL,

    "AccessFailedCount" INTEGER NOT NULL,

    CONSTRAINT "FK_AspNetUsers_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES "Companies" ("Id") ON DELETE RESTRICT

);
INSERT INTO AspNetUsers VALUES('d34b935c-546b-423f-976d-9e80b8eeb23b','22B0CC81-D1A7-460F-A02D-549191DD2A61','med@gmail.com','MED@GMAIL.COM','med@gmail.com','MED@GMAIL.COM',0,'AQAAAAIAAYagAAAAEPWPFQXLW3y1w9vB+OOb4IPRUTInjlQFUAHCZmlK3HUtOcXP6nMs6aN4Q8HQ4DUHgg==','V4DDGS2DUVCP56OMSEIQFP2QX5J5HAH4','c4fbc771-7f38-489c-b034-a35991000431',NULL,0,0,NULL,1,0);
INSERT INTO AspNetUsers VALUES('3322ce94-dbb6-48e5-a628-5a94ee926623','463A0D06-770A-440A-9655-F87DA2C06593','medo@gmail.com','MEDO@GMAIL.COM','medo@gmail.com','MEDO@GMAIL.COM',0,'AQAAAAIAAYagAAAAEDUApA5GbDTgqZrEzNBO76pkxiHvRvI8Ah9Xpe19B8zXmDP1pq/Si5vfXLpGrgJi9A==','O7OVTN2RZF7BSHXLNAXEDG6SDLGJQBFV','0c56a603-369d-4e9e-a058-3383287cdf54',NULL,0,0,NULL,1,0);
INSERT INTO AspNetUsers VALUES('3e2fb2df-18a8-4bb1-99a4-ea131fd7e6cf','22B0CC81-D1A7-460F-A02D-549191DD2A61','manager@example.com','MANAGER@EXAMPLE.COM','manager@example.com','MANAGER@EXAMPLE.COM',0,'AQAAAAIAAYagAAAAEDqxY7CA3bY2E8pCEC9xKHr0FCf7unuP//VXab+T75hlbGmbDTEfQZv356kV67FLrQ==','SGGX6LKFKXDU653YRR7NPJV4W2HS6XLI','3fc5f4a9-c212-41e5-8467-4d43594fce26',NULL,0,0,NULL,1,0);
CREATE TABLE IF NOT EXISTS "AspNetUserClaims" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY AUTOINCREMENT,

    "UserId" TEXT NOT NULL,

    "ClaimType" TEXT NULL,

    "ClaimValue" TEXT NULL,

    CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AspNetUserLogins" (

    "LoginProvider" TEXT NOT NULL,

    "ProviderKey" TEXT NOT NULL,

    "ProviderDisplayName" TEXT NULL,

    "UserId" TEXT NOT NULL,

    CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey"),

    CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "AspNetUserRoles" (

    "UserId" TEXT NOT NULL,

    "RoleId" TEXT NOT NULL,

    CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId"),

    CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES "AspNetRoles" ("Id") ON DELETE CASCADE,

    CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE

);
INSERT INTO AspNetUserRoles VALUES('d34b935c-546b-423f-976d-9e80b8eeb23b','1d549980-3c5f-420a-aaa9-94b55d81f0a9');
INSERT INTO AspNetUserRoles VALUES('3322ce94-dbb6-48e5-a628-5a94ee926623','1d549980-3c5f-420a-aaa9-94b55d81f0a9');
INSERT INTO AspNetUserRoles VALUES('3e2fb2df-18a8-4bb1-99a4-ea131fd7e6cf','e9ab1dc9-b4fd-4839-8888-898e55f23e4a');
CREATE TABLE IF NOT EXISTS "AspNetUserTokens" (

    "UserId" TEXT NOT NULL,

    "LoginProvider" TEXT NOT NULL,

    "Name" TEXT NOT NULL,

    "Value" TEXT NULL,

    CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name"),

    CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES "AspNetUsers" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "InvoiceLines" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_InvoiceLines" PRIMARY KEY AUTOINCREMENT,

    "Description" TEXT NOT NULL,

    "Quantity" TEXT NOT NULL,

    "UnitPrice" decimal(18,4) NOT NULL,

    "InvoiceId" INTEGER NOT NULL,

    CONSTRAINT "FK_InvoiceLines_Invoices_InvoiceId" FOREIGN KEY ("InvoiceId") REFERENCES "Invoices" ("Id") ON DELETE CASCADE

);
INSERT INTO InvoiceLines VALUES(3,'Consulting Hours','8.0',120,3);
INSERT INTO InvoiceLines VALUES(4,'Desk Chairs','5.0',89.5,4);
INSERT INTO InvoiceLines VALUES(5,'Organic Tea Boxes','25.0',12.75,5);
CREATE TABLE IF NOT EXISTS "InvoiceStatusHistories" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_InvoiceStatusHistories" PRIMARY KEY AUTOINCREMENT,

    "InvoiceId" INTEGER NOT NULL,

    "OldStatus" INTEGER NOT NULL,

    "NewStatus" INTEGER NOT NULL,

    "ChangedBy" TEXT NOT NULL,

    "ChangedAt" TEXT NOT NULL,

    CONSTRAINT "FK_InvoiceStatusHistories_Invoices_InvoiceId" FOREIGN KEY ("InvoiceId") REFERENCES "Invoices" ("Id") ON DELETE CASCADE

);
INSERT INTO InvoiceStatusHistories VALUES(1,50,0,1,'d34b935c-546b-423f-976d-9e80b8eeb23b','2025-06-18 21:41:36.6032991');
INSERT INTO InvoiceStatusHistories VALUES(2,49,0,1,'d34b935c-546b-423f-976d-9e80b8eeb23b','2025-06-19 21:52:49.0198523');
INSERT INTO InvoiceStatusHistories VALUES(3,49,1,2,'d34b935c-546b-423f-976d-9e80b8eeb23b','2025-06-19 21:53:07.4479562');
CREATE TABLE IF NOT EXISTS "Invoices" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Invoices" PRIMARY KEY AUTOINCREMENT,

    "CompanyId" TEXT NOT NULL,

    "CreatedAt" datetime NOT NULL,

    "CreatedById" TEXT NULL,

    "CustomerName" TEXT NOT NULL,

    "Date" TEXT NOT NULL,

    "InvoiceNumber" TEXT NOT NULL,

    "Status" INTEGER NOT NULL,

    "SubTotal" decimal(18,4) NOT NULL,

    "Total" decimal(18,4) NOT NULL,

    "UpdatedAt" datetime NULL,

    "VAT" decimal(18,4) NOT NULL,

    CONSTRAINT "FK_Invoices_AspNetUsers_CreatedById" FOREIGN KEY ("CreatedById") REFERENCES "AspNetUsers" ("Id"),

    CONSTRAINT "FK_Invoices_Companies_CompanyId" FOREIGN KEY ("CompanyId") REFERENCES "Companies" ("Id") ON DELETE RESTRICT

);
INSERT INTO Invoices VALUES(1,'22B0CC81-D1A7-460F-A02D-549191DD2A61','2025-05-31 00:00:00','d34b935c-546b-423f-976d-9e80b8eeb23b','DSTM','2025-05-31 00:00:00','INV-889',2,100,120,NULL,20);
INSERT INTO Invoices VALUES(2,'22B0CC81-D1A7-460F-A02D-549191DD2A61','2025-05-31 00:00:00','d34b935c-546b-423f-976d-9e80b8eeb23b','CloudNine Inc','2025-06-20 00:00:00','INV-890',1,119.8799999999999955,143.8600000000000137,NULL,23.98000000000000042);
INSERT INTO Invoices VALUES(3,'22B0CC81-D1A7-460F-A02D-549191DD2A61','2025-05-31 00:00:00','d34b935c-546b-423f-976d-9e80b8eeb23b','TechSolutions','2025-06-05 00:00:00','INV-891',0,960,1152,NULL,192);
INSERT INTO sqlite_sequence VALUES('InvoiceLines',58);
INSERT INTO sqlite_sequence VALUES('InvoiceStatusHistories',11);
INSERT INTO sqlite_sequence VALUES('Invoices',51);
CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON "AspNetRoleClaims" ("RoleId");
CREATE UNIQUE INDEX "RoleNameIndex" ON "AspNetRoles" ("NormalizedName");
CREATE INDEX "IX_AspNetUserClaims_UserId" ON "AspNetUserClaims" ("UserId");
CREATE INDEX "IX_AspNetUserLogins_UserId" ON "AspNetUserLogins" ("UserId");
CREATE INDEX "IX_AspNetUserRoles_RoleId" ON "AspNetUserRoles" ("RoleId");
CREATE INDEX "EmailIndex" ON "AspNetUsers" ("NormalizedEmail");
CREATE INDEX "IX_AspNetUsers_CompanyId" ON "AspNetUsers" ("CompanyId");
CREATE UNIQUE INDEX "UserNameIndex" ON "AspNetUsers" ("NormalizedUserName");
CREATE UNIQUE INDEX "IX_Companies_TaxId" ON "Companies" ("TaxId");
CREATE INDEX "IX_InvoiceLines_InvoiceId" ON "InvoiceLines" ("InvoiceId");
CREATE INDEX "IX_InvoiceStatusHistories_InvoiceId" ON "InvoiceStatusHistories" ("InvoiceId");
CREATE UNIQUE INDEX "IX_Invoices_CompanyId_InvoiceNumber" ON "Invoices" ("CompanyId", "InvoiceNumber");
CREATE INDEX "IX_Invoices_CreatedById" ON "Invoices" ("CreatedById");
COMMIT;
