# .NET ignores
bin/
obj/
**/*.user
**/*.rsuser
**/*.suo
**/*.vscode
.vs/

# Visual Studio temporary files
*.dbmdl
*.log
*.backup
*.publishsettings
Logs

invoices.csv
minio-data

# EF Migrations snapshot
**/Migrations/*.cs

# React/Node ignores
efacture-ui/node_modules/
efacture-ui/build/
efacture-ui/.env
# Yarn
efacture-ui/.cache/
efacture-ui/.pnp.*


efacture.db
efacture.db-shm
efacture.db-wal
invoices.csv
