version: "3.9"

services:
    minio:
        image: minio/minio
        ports:
            - "9000:9000"
            - "9001:9001"
        volumes:
            - ./minio-data:/data
        environment:
            MINIO_ROOT_USER: efadmin
            MINIO_ROOT_PASSWORD: efpassword123
        command: server /data --console-address ":9001"

    webapi:
        build:
            context: .
            dockerfile: Dockerfile
        depends_on:
            - minio
        ports:
            - "5000:5000"
        environment:
            # Override as needed or rely on appsettings.json
            ASPNETCORE_ENVIRONMENT: Development
            # MinIO settings (point at the 'minio' container)
            Minio__Endpoint: minio:9000
            Minio__AccessKey: efadmin
            Minio__SecretKey: efpassword123
            Minio__BucketName: efacture

    frontend:
        build:
            context: ./efacture-ui
            dockerfile: Dockerfile
        depends_on:
            - webapi
        ports:
            - "3000:80"
